.icon-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cart-icon{
  font-size: 2.5rem;
  font-weight: bold;
}
.quantity{
  position: absolute;
}
.mobile-cart-icon{
  color: #fff;
}