.checkout-wrapper{
  width: 100%;
  max-width: 70em;
  min-height: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 1em 0;
}
.header-block{
  width: 100%;
  max-width: 12em;
}
.header-block p{
  text-transform: capitalize;
  font-size: 1.2rem;
}
.cart-empty{
  font-size: 1.5rem;
  text-transform: uppercase;
}
.total{
  width: 100%;
  max-width: 10em;
  margin-top: 4em;
  margin-left: auto;
}
.total p{
  font-weight: bold;
  font-size: 1.2rem;
}
button{
  border: none;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.3rem;
  padding: 0.8em 1em;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
button:hover{
  color: black;
  border: 1px black solid;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .checkout-header{
    display: none;
    max-width: 100%;
  }
  button{
    width: 100%;
  }
}