.collectionPage-wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5em;
}
.collection-title{
  margin-bottom: 1em;
  font-size: 2rem;
}
.collectionPage-items{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
}
@media screen and (max-width: 1000px) {
  .collectionPage-wrapper{
    width: 100%;
  }
  .collectionPage-items{
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  
}