.custom-btn {
  border: none;
  padding: 0.8em 1.5em;
  background-color: rgb(27, 27, 50);
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  border: 1px rgb(27, 27, 50) solid;
  color: rgb(27, 27, 50);
  background-color: #fff;
}
.googleMain {
  background-color: rgb(9, 65, 144);
  color: white;
  margin-left: 1em;
}
.googleMain:hover {
  background-color: rgb(8, 88, 201);
  color: white;
}
.cart{
  width: 100%;
  background-color: #fff;
  color: rgb(27, 27, 50);
}
.cart:hover{
  color: #fff;
  background-color: rgb(27, 27, 50);
}
.hide-sign-Up{
  display: none;
}

@media screen and (max-width: 1000px) {
  .custom-btn {
    width: 100%;
  }
  .googleMain {
    justify-content: center;
    margin-left: 0;
  }
  .hide-sign-Up{
  display: block;
}
}
