.nav-wrapper{
  width: 100%;
  background-color: rgb(27,27,50);
  color: #fff;
  padding: 0.5em 1.5em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-link{
  color: #fff;
}
.nav-icon{
  font-size: 4rem;
}
.pages{
  width: 100%;
  max-width: 30em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
.option{
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.option:hover{
  border: 1px #fff solid;
  border-radius: 0.1em;
}
.active{
  border: 1px #fff solid;
  padding: 0.2em;
  background-color: whitesmoke;
  opacity: 0.7;
  color: black;
  border-radius: 0.1em;
}

@media screen and (max-width: 500px) {
  .nav-wrapper{
    display: none;
  }
}