*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a{
  text-decoration: none;
  color: black;
  display: block;
}
* ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  border: 1px red solid;
  font-family: 'Roboto', sans-serif;
  padding: 0 1em;
  width: 100%;
}